h1 {
    color: rgb(230, 222, 222);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4em;
}
#header {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
router-outlet {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn {
    position: relative;
    display: inline-block;
    margin: 40px auto;
    padding: 0.5%;

    overflow: hidden;

    border-width: 0;
    outline: none;
    border-radius: 15px;
    box-shadow: 0 2.5px 4px darkslateblue;

    background-color: slategrey;
    color: yellow;
    font-size: 1.4em;
    text-decoration: none;

    transition: background-color 0.3s;
}

.btn:hover,
.btn:focus {
    background-color: slateblue;
}

.btn > * {
    position: relative;
}

.btn span {
    display: block;
    padding: 12px 24px;
}

.btn:before {
    content: '';

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 0;
    padding-top: 0;

    border-radius: 100%;

    background-color: rgba(236, 240, 241, 0.3);

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn:active:before {
    width: 120%;
    padding-top: 120%;

    transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}